<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/react@18.2.0/umd/react.development.js" defer></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js" defer ></script>
    <script src="src/main.jsx" type="module" defer ></script>
</head>
<body>
    <h1>Titulo</h1>
    <div id="root"></div>
    
<!--     
    <script>
        alert("Hola mundo");
    </script> 
    -->
</body>
</html>
