.Option {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: #8C30F5;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .ActiveOption {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: blue;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
